@import "macchiato.css";

* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 14px;
    border-radius: 20px;
    padding-top: 3px;
    padding-left: 3px;
    padding-right: 3px;
}

window#waybar {
    background-color: transparent;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

/* MODULE GROUPS */

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

.modules-right {
    background-color: @base;
    padding: 1px;
}

.modules-center {
    background-color: @base;
    padding: 1px;
}

.modules-left {
    padding: 1px;
    background-color: @base;
}

/* WORKSPACES */
button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
}

#workspaces button {
    padding: 0 5px;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-right: 7px;
    margin-left: 7px;
    background-color: transparent;
    color: @sky;
    border-radius: 20px;
}

#workspaces button:hover {
    background: @overlay0;
}

#workspaces button.focused {
    color: @green;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#mode {
    background-color: #64727D;
    border-bottom: 3px solid #ffffff;
}

/* MODULES */

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#mpd,
#custom-spotify,
#custom-weather,
#custom-spotify,
#custom-weather,
#battery {
    padding: 0 10px;
    color: @text;
    background-color: transparent;
}

#window,
#workspaces {
    margin: 0 4px;
    padding: 2px;
}


#clock {
    padding-left: 16px;
    padding-right: 15px;
    border-radius: 10px 0px 0px 10px;
    transition: none;
}

#battery {
	color: @yellow;
}
#disk {
	color: @peach;
}
#temperature {
	color: @red;
}
#memory {
	color: @teal;
}
#cpu {
	color: @green;
}
#network {
	color: @lavender;
}
#pulseaudio {
	color: @mauve;
}
@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

#network.disconnected {
    background-color: #f53c3c;
}


#temperature.critical {
    background-color: #eb4d4b;
}

#tray {
    background-color: #2980b9;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#idle_inhibitor {
    background-color: #2d3436;
}

#idle_inhibitor.activated {
    background-color: #ecf0f1;
    color: #2d3436;
}

#scratchpad {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
	background-color: transparent;
}

/* CUSTOME MODULES */

#custom-weather {
    padding-right: 16px;
    border-radius: 0px 20px 20px 0px;
    transition: none;
}

#custom-spotify {
    padding: 0 10px;
    margin: 0 4px;
}

