@import "/home/vince/.config/wofi/macchiato.css";

#window {
    padding: 2px;
    background-color: @base;
    border-radius: 10px;
    color: @text
}

#outer-box {
	padding: 10px;
}

#input {
	background-color: @surface0;
	border-color: @flamingo;
}

#entry {
	color: @text;	
}

#entry:selected {
	background-color: @surface2;
	border-radius: 5px;
	border-bottom: 2px;
}
